html {
    font-size: 10px;
    background: url(background\ \(1\).jpg) bottom center;
    background-size: cover;
  }
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    border-radius: 1rem;
    border: .4rem solid rgba(255, 200, 0, 0.774);
    opacity: 60;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }
/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; 
  color: white;
  padding: 15px;
}

.navbar-left h1 {
  margin: 0;
  font-size: 24px;
  color: white; 
}

.navbar-right .about-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-right .about-link:hover {
  text-decoration: underline;
}

/* About Page Styles */
.about-content {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.about-content p {
  font-size: 15px;
  
}

.about-content h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.about-content h3 {
  margin-top: 20px;
  font-size: 20px;
}

.about-content ul {
  font-size: 15px;
  list-style-type: none;
  padding-left: 0;
}

.about-content li {
  margin: 10px 0;
}

/* Back to Home Button */
.back-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #555;
}

